
body {
    margin: 0;
    background-color: rgb(221, 229, 238);
}

.title {
    color: rgb(210, 241, 96);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-shadow: 5px 5px 15px rgb(0, 0, 0);
}
/*img*/

.img-single img {
    width: 100%;
    height: 400px;
    padding-bottom: 15px;
    object-fit: cover;
    margin: 0;
}

.img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 65px;
    padding: 35px;
    background-color: rgb(144, 144, 145);
}

.img-grid img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.8) inset,
			5px 7px 12px 1px rgba(0, 0, 0, 0.205);
    transition: ease all 0.3s;
    /*will-change: color, text-shadow, font-size;*/
}

.img-grid img:hover {
    transform: scale(1.1);
    transition: ease all 0.8s;
    cursor: pointer;
    box-shadow: 15px 15px 15px rgb(19, 17, 17);
    transform: scale(1.1);
    /*transition: transform 0.3 ease-in-out;*/
}


.img-carrousel-1 {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.img-carrousel-1 img{
    width: 100%;
    height: 500px;
}

 .img-carrousel-2, .img-carrousel-3, .img-carrousel-4, .img-carrousel-5 {
    padding: 5px;
    padding-bottom: 55px;
    height: 500px;
}  

.img-carrousel-2 img, .img-carrousel-3 img, .img-carrousel-4 img, .img-carrousel-5 img{
    height: 500px;
}


/*tekst*/

.title-2 {
    font-size: 50px;
    color: rgb(73, 1, 1);
}

h2 {
    margin: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 25px;
    padding-top: 15px;
}

.navigation p {
font-size: 40px;
font-weight: bold;
background-color: rgb(234, 240, 245);
margin: 10px;
margin-top: 0;
padding: 15px 80px 15px 80px;
font-style: italic;
border-radius: 15px;
box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.8) inset,
			5px 7px 12px 1px rgba(0, 0, 0, 0.205);
            transition: ease all 0.3s;
}

.navigation p:hover {
    box-shadow: 10px 10px 10px rgb(78, 72, 72);
    cursor: pointer;
    
    transform: scale(1.1);
}

.title {
    position: absolute;
    text-align: center;
    width: 100vw;
}